NODE_ENV=development

ACCESS_TOKEN_SECRET=ASECRET
REFRESH_TOKEN_SECRET=RSECRET

ACCESS_TOKEN_EXPIRES_MINUTES=172800
REFRESH_TOKEN_EXPIRES_DAYS=7

PORT=3000
CLIENT_URL=http://localhost:5173

DATABASE_URL="postgresql://home@localhost:5432/fitness_tracker"